
body {
	font-family: 'Quicksand', sans-serif;
}
.capacity div::first-letter {
    font-size: 180%;
    color: teal;

}


.logo {
margin-left:20px;
}

.capacity {
	text-transform: capitalize;
	text-transform: uppercase;
	font-size: 16pt;
}
@media (max-width:1400px)
{
	.logo {
		width:340px !important;
	}	
}
@media (min-width:250px) and (max-width:450px)
{
	.logo {
		width:320px !important;
	}
	.navbar-toggle {
		z-index:10;
	}
	.banner {
		width:100%;
	}
}
@media (min-width:451px) and (max-width:767px)
{
	.logo {

	}
	.navbar-toggle {
		z-index:10;
	}
	.banner {
		width:100%;
	}
}